<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="github.zhangq.secretstringtest.dao.SecretStringServiceDao">
    <select id="save" parameterType="github.zhangq.secretstringtest.entity.SomeEntity">
        INSERT INTO SomeEntity (normal, secert)
        VALUES (#{normal}, #{secret})
    </select>
</mapper>